<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost&amp;Found@Unimelb</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/{{css}}">
<body>

    {{{body}}}

</body>

<footer>
    <div class="footer-container">
        <img class="footer-logo" src="imgs\lost-find-logo.png">
        <p> © Lost&amp;Found@Unimelb 2022</p>
    </div>
</footer>

</html>