<main>
    <nav class = "navbar">
        <img class="nav-logo " src="imgs\logo.png">

    </nav>
    <a href="/">
    <div class="back-arrow">
        <img href="javascript:history.go(-1);" class="back-icon" src="imgs\back-icon.png">
    </div>
    </a>
    <div class="aboutUs-content">
        <h1>Aim</h1>
        <p>This website aims to help people to publish their lost and found enquiry at the University of Melbourne.            
        </p>
        <h1>What we do</h1>
        <p>We support and manage all the enquiries, we will try our best to match and find the lost items.
        </p>
        <h1>As our client</h1>
        <p>You need to upload your lost/found item photo, edit the description of the item and leave your contact detail. 
            Once the lost/found items have been matched, please remember to delete the enquire.
            Otherwise, it will be deleted automatically in 60 days.
        </p>
        <h1>Website developer</h1>
        <p>This website is build by : Zhiyu Chen, Xueyi Chen, Yusong Yang, Yuqian Si, Fangyi Kao
        </p>

    </div>
    <div class="bottom-container">
        <div class="bot-content">
            <a>STAY IN TOUCH</a>
        </div>
        <div class="bot-image">
            <img class="bot-icon" src="imgs\facebook.png">
            <img class="bot-icon" src="imgs\twitter-sign.png">
            <img class="bot-icon" src="imgs\instagram-symbol.png">
            <img class="bot-icon" src="imgs\envelope.png">
        </div>

    </div>
</main>