-<main>
    <nav class = "navbar">
        <img class="nav-logo" src="imgs\logo.png">
        <ul class ="nav-links">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/aboutUs"><b>About us</b></a></li>
    </nav>

    <div class="login-header">
        <img class="login-arrow" src="">
        <a> Change Password </a>
    </div>

    <div class = "login-content">
        <div class = "login-content-left">
            <img class = "login-image" src="imgs\login-image.png">
          
        </div>
        <div class = "login-content-right">
            <div class="login-r-content">
                <div class ="login-r-header">
                    <a>Invalid username or old password, please try again.</a>
                </div>
                <div class = "login-detail">
                    <form method="post" action="">
                        <h3><lable>Username</label></h3>
                        <input type="text" id="username" name="username" required>
                       
                        <h3><label>Old Password</label></h3>
                        <input class="opassword"type="password" id="password" name="password" required >
                        <h3><label>New Password</label></h3>
                        <input class="npassword" type="password" id="npassword" name="npassword" required >
                        <h3><label>Confirm Password</label></h3>
                        <input class="cpassword" type="password" id="cnpassword" name="cnpassword" required >
                        <button class="button" type="submit">Submit</button> 


                    </form>


                </div>
            </div>

        </div>
    </div>
    <script>
    document.querySelector('.button').onclick = function(){
        var opassword = document.querySelector('.opassword').value;
            npassword = document.querySelector('.npassword').value;
            confirmPassword = document.querySelector('.cpassword').value;
            if (npassword !== confirmPassword){
                alert("Password do not match, please try again.");
                return false;
            }
            else if (opassword == npassword){
                alert("Invalid change. New password is same as the old password, please try again.");
                return false;
            }
            return true
    }
    </script>   
</main>