<main>
    <nav class = "navbar">
        <img class="nav-logo " src="imgs\logo.png">
        <ul class ="nav-links">
            <li><a href="/mypost"><b>My post</b></a></li>
            <li><a href="/lost"><b>Selling Items</b></a></li>
            <li><a href="/found"><b>Client Info</b></a></li>
            <li><a href="/found"><b>Merchant Info</b></a></li>
            <li><a href="/found"><b>Analysis</b></a></li>
            <li><a href="/report"><b>Report</b></a></li>
            <li><a href="/"><b>Log out</b></a></li>
            <li><a href="aboutUs"><b>About us</b></a></li>
    </nav>

    <div class="guide">

        <div class = "guide-left">
            <img class="login-image" src="imgs\guide-image.png">
        </div>

        <div class = "guide-right">
            <div class="guide-header">
                <a>Find Everything You Like in Carpet Paradise</a>
            </div>
            <div class="gudie-content">
                <ul class="guide-LF">
                    <li><a href="/lost">I WANT TO BUY SOMETHING</a></li>
                    <li><a href="/found">I WANT TO SELL SOMETHING</a></li>
                </ul>
            </div>

        </div> 
    </div>
</main>