<main>
    <nav class = "navbar">
        <img class="nav-logo" src="/imgs\logo.png">
        <ul class ="nav-links">
            <li><a href="/mypost"><b>My post</b></a></li>
            <li><a href="/guide"><b>Home</b></a></li>
            <li><a href="/lost"><b>Lost</b></a></li>
            <li><a href="/found"><b>Found</b></a></li>
            <li><a href="/"><b>Logout</b></a></li>
            <li><a href="/aboutUs"><b>About us</b></a></li>
    </nav>
    <div class="report-container">
        <h1>Report items</h1>
        <form method="post" action="">

            <div class="oneSet">
                <p>What have you lost/found?</p>
                <input type="text" id="item" name="item" required>
            </div>

            <div class="oneSet">
                <p>Where did you lost/found?</p>
                <input type="text" id="where" name="where" required>
            </div>

            <div class="oneSet">
                <p>When did you lost/found?</p>

                <input type="date" id="when" name="when" required>     
            </div>

            <div class="oneSet">
                <p>Item description</p>
                
                <input type="text" placeholder ="Please add as much detail as possible" style="height: 20vh;" id="description" name="description" required>
            </div>

            <div class="oneSet">
                <p>Upload picture
                <br><a>You can access https://postimages.org/ to get direct link of your picture URL</a></br>
                </p>

                <input type="text" placeholder="URL of your picture" id="itemImage" name="itemImage" required>
            </div>

           <div class="oneSet">           
                <p>Leave your contact details</p>

                <div class="contact-detail">
                    <input type="text" placeholder="Your name" id="contactName" name="contactName" required>
            
                    <input type="tel" placeholder="Phone number" id="phoneNum" name="phoneNum" required>
                </div>

           </div>

           <div class="oneSet">           
                <div class="email-container">
                    <input type="email" placeholder="Email" id="email" name="email" required>
                </div>      
           </div>

            <div class="oneSet">
                <div class="submit-style">           
                    <input type="submit" value="Submit for FOUND item" id= "found_items" name="found_items">
                </div>

                <div class="submit-style">           

                    <input type="submit" value="Submit for LOST item"  id= "lost_items" name="lost_items">
                </div>

            </div>

        </form>







</main>