<main>
    <nav class = "navbar">
        <img class="nav-logo" src="imgs\logo.png">
        <ul class ="nav-links">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/aboutUs"><b>About us</b></a></li>
    </nav>

    <div class="login-header">
        <img class="login-arrow" src="">
        <a> Sign Up </a>
    </div>

    <div class = "login-content">
        <div class = "login-content-left">
            <img class = "login-image" src="imgs\login-image.png">
            <div class ="login-content-text">
                <a>Allready have an account?</a>
                <c><b href="/login">Log in</b> now!</c>
            </div>
        </div>
        <div class = "login-content-right">
            <div class="login-r-content">
                <div class ="login-r-header">
                    <a>Username has already been signed up, please choose another one.</a>
                </div>
                <div class = "login-detail">
                    <form method="post" action="">
                        <h3><lable>Username</label></h3>
                        <input type="text" id="username" name="username" required>
                        <h3><label>Password</label></h3>
                        <input class="password" type="password" id="password" name="password" required pattern=".{8,}" title="at least 8 numbers or characters">
                        <h3><label>Confirm Password</label></h3>
                        <input class="cpassword" type="password" id="cpassword" name="cpassword" required pattern=".{8,}" title="at least 8 numbers or characters" >
                        <button class="button" type="submit">Sign Up</button> 
                </div>
            </div>

        </div>
    </div>
    <script>
    document.querySelector('.button').onclick = function(){
        var password = document.querySelector('.password').value;
            confirmPassword = document.querySelector('.cpassword').value;
            if (password !== confirmPassword){
                alert("Password do not match, please try again.");
                return false;
            }
            return true
    }
    </script>
</main>
