/* Nav bar */
.navbar {
    background-color: #003061;
    height: 5.5vh;    
    justify-content: space-between;
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: end;
    list-style-type: none;
    padding-right: 4vw;

}

.nav-links li {
    margin: 10px 30px;  
    font-size: 2.5vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-links li a{
    color: white;
    text-decoration: none;


}
.nav-logo{
    height: 5vh;
    width: 10vw;
    margin-left: 2%;
    display: flex;
    z-index: 50;
}
/* login header */
.login-header{
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-top: 2%;
}
.login-header a{
    color: #003061;
    font-size: 6vmin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px #003061;
    stroke-linejoin: miter;
    font-weight: bold;
    z-index: 100;
    font-weight: bold;


}
/* login content */
.login-content{
    display:flex;
    height: auto;
    width: auto;
    padding-bottom: 3%;
}
.login-content-left{
    height: 60%;
    width: 50%;
    margin-top: 5%;
    display: block;
}
.login-content-right{
    height: 60%;
    width: 50%;
    display:block;
}
.login-image {
    display: block;
    height: 75%;
    width: 75%;
    padding-left: 16%;
    z-index: 50;
}


.login-content-text{
    display:block;
    margin-top: -6%;
    height: auto;
    text-align: center;
}

.login-content-text a {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vmin;
    stroke-linejoin: miter;
    color: #003061;
    font-weight: bold;
    padding-left: 16%;
}
.login-content-text b {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vmin;
    stroke-linejoin: miter;
    color: #003061;
    font-weight: bold;
    padding-left: 16%;
    text-decoration: underline;
    margin-left: 10%;
    margin-right: 2%;
}
.login-content-text c{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vmin;
    stroke-linejoin: miter;
    color: #003061;
    font-weight: bold;
    padding-left: 16%;

}
.login-r-content {
    text-align: center;
    justify-content: center;
    width: 75%;
    height: 90%;
}
.login-r-header{
    height: 10%;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    display: block;
}
.login-r-header a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.2vmin;
    font-weight: bold;
    stroke-linejoin: miter;
    color: red;
    font-weight: bold;

}

.login-detail {
    height: 60%;
    text-align: center;
    justify-content: center;
    margin-top: 0%;
    display: flex;
}

.login-detail h3{
    font-size: 3.5vmin;
    display: flex;
    margin-top: 5%;
}



.login-detail input[type=text], input[type=password] {
    width: 32vw;
    padding: 1vmin 2.5vmin;
    display: flex;
    border: 0.1vmin solid #ccc;
    box-sizing: border-box;
    font-size: 2.5vmin;
    border-radius: 10px;
}
.button{
    font-size: 3.5vmin;
    background-color: #003061;
    color: white;
    text-align: center;
    margin-top: 10%;
    padding: 1vmin;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
.sign-up-change-password{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.sign-up-change-password a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vmin;
    stroke-linejoin: miter;
    color: #003061;
    font-weight: bold;
    text-align: left;
    justify-content: space-between;
}